@import "../../variables.css";

.form {
  background-color: $section_background_color;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-self: center;
  min-width: 400px;

  @media (max-width: 420px) {
    max-width: 100%;
    min-width: 355px;
  }

  &__label {
    display: block;
    width: 100%;
    margin: 10px 0;
    color: $font_color_soft;
  }

  &__input-header {
    width: 80%;
    margin: 25px auto 10px;
  }

  &__buttons-wrapper {
    width: 80%;
    margin: 30px auto;
  }

  &__row {
    width: 80%;
    margin: 0 auto 23px;
  }

  &__round-wrapper {
    .standart-input {
      border: 0;
      border-radius: 10px;
      text-align: center;
    }

    &-row {
      width: 100%;
    }
  }
}
