---
screenTitle: Easy touch - настройки профиля
script: <script src="profile.ts" type="module"></script>
---

{{!< base}}

		<div class="sidebar-left">
			<a class="comeback-link" href="./chats.hbs">
				<div class="icon-comeback">←</div>
				<p class="comeback-note">Назад</p>
			</a>
		</div>
		<main>
			<img
				src="../../static/img/dimon.jpg"
				alt="Аватар"
				class="avatar avatar_big"
			/>
		</main>
