@import "../../variables.css";

.logo {
  font-size: 55px;
  font-family: "Raleway Dots", cursive;
  text-align: center;
  margin: 50px 0;

  @media (max-width: 389px) {
    font-size: 50px;
  }

  .accent-wrapper {
    color: $accent_color;
  }

  .logo-link {
    text-decoration: none;
    color: $font_color_bright;
  }
}
