@import "../variables.css";

$left_shift_wide: 377px;
$left_shift_slim: 327px;

body {
  margin: 0;
}

.chat-side {
  position: fixed;
  height: 100%;
  top: 0;
  bottom: 0;
  overflow: auto;

  &::-webkit-scrollbar {
    width: 3px;
    background-color: $background_color;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 1px;
    background-color: $border_color;
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgb(0 0 0 / 20%);
    border-radius: 1px;
    background-color: $background_color;
  }
}

.feed {
  right: 2px;
  left: $left_shift_wide;
  padding: 10px 30px;

  @media (max-width: 850px) {
    left: $left_shift_slim;
  }

  @media (max-width: 730px) {
    display: none;
  }

  .feed-header {
    display: flex;
    align-items: center;
  }

  .contact-username {
    width: 100%;
    font-weight: bold;
    font-size: 18px;
  }

  .messages {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .write-message-wrapper {
    position: fixed;
    right: 2px;
    left: $left_shift_wide;
    margin: 10px 30px;
    bottom: 0;
    border-radius: 100px;
    background-color: $section_background_color;
    display: flex;
    justify-content: space-between;

    /* textarea */
    #message {
      background-color: $section_background_color;
      border: 0;
      color: $font_color_bright;
      font-size: 15px;
      padding: 5px 0 5px 10px;
      margin: 15px;
      width: 100%;

      &:focus {
        transition: 0.2s;
        box-shadow: 0 0 20px #ffa825;
      }

      &::placeholder {
        color: $font_color_bright;
      }

      &::-webkit-scrollbar {
        width: 3px;
        background-color: $background_color;
      }

      &::-webkit-scrollbar-thumb {
        border-radius: 1px;
        background-color: $border_color;
      }

      &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgb(0 0 0 / 20%);
        border-radius: 1px;
        background-color: $background_color;
      }
    }

    .button-wrapper {
      display: flex;
      align-items: center;

      .button-send-msg {
        font-size: 22px;
        margin: 0;
        margin-right: 10px;
        font-weight: normal;

        .icon-send-msg {
          margin-bottom: -5px;
        }
      }
    }

    @media (max-width: 850px) {
      left: $left_shift_slim;
    }
  }
}

.contacts-list {
  width: 350px;
  border-right: 1px solid $border_color;
  padding: 10px 15px 10px 10px;

  @media (max-width: 850px) {
    width: 300px;
  }

  @media (max-width: 730px) {
    width: 91%;
    border-right: 0;
  }

  .profile-link {
    text-align: right;
  }

  .search-form {
    text-align: center;
    margin: 40px 20px;
  }

  .contact-info {
    display: flex;
    padding: 8px 3px 8px 0;
    margin: -6px 0;

    &__active {
      background: rgb(101 72 35);
      background: linear-gradient(90deg, rgb(101 72 35 / 100%) 0%, rgb(0 212 255 / 0%) 85%);

      .contact-pointer {
        width: 4px;
        margin-right: 3px;
        height: 100%;
        background-color: $accent_color;
        margin-top: -7px;
        padding-bottom: 14px;
      }
    }
  }

  .contact-main-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 6px;
    width: 100%;

    .contact-username {
      margin-bottom: 6px;
      font-weight: bold;
    }

    .contact-message {
      font-size: 13px;
    }
  }

  .contact-extra-info {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .contact-message-date {
      font-size: 14px;
    }

    .contact-message-counter {
      color: $font_color_dark;
      background-color: $font_color_bright;
      border-radius: 100px;
      width: 20px;
      height: 20px;
    }
  }
}

.contact-avatar {
  display: flex;

  img {
    margin-right: 15px;
    width: 55px;
    height: 55px;
    border-radius: 100px;
  }
}
