@import "../variables.css";

.sidebar-left {
  display: flex;
  position: fixed;
  align-items: center;
  background-color: $section_background_color;
  top: 0;
  left: 0;
  bottom: 0;

  .comeback-link {
    text-decoration: none;
    color: $font_color_bright;
    margin: 7px;
  }

  .comeback-note {
    text-align: center;
    font-size: 14px;
  }

  @media (max-width: 650px) {
    height: 80px;
    width: 70px;
    border-radius: 0 0 10px;
    box-shadow: 0 0 8px #727476;
  }
}

.icon-comeback {
  width: 33px;
  height: 33px;
  background-color: #ffa826;
  border-radius: 100px;
  text-align: center;
  color: #2b1c09;
  margin: 12px;
  font-size: 28px;
}

#avatar-input {
  padding: 20px 5px;
}
