@import "../../variables.css";

body {
  margin: 0;
}

.chat-side {
  position: fixed;
  height: 100%;
  top: 0;
  bottom: 0;
  overflow: auto;

  &::-webkit-scrollbar {
    width: 3px;
    background-color: $background_color;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 1px;
    background-color: $border_color;
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgb(0 0 0 / 20%);
    border-radius: 1px;
    background-color: $background_color;
  }
}

.feed {
  right: 2px;
  left: $left_shift_wide;
  padding: 10px 30px;

  @media (max-width: 850px) {
    left: $left_shift_slim;
  }

  @media (max-width: 730px) {
    display: none;
  }

  .chat-header-wrapper {
    position: fixed;
    right: 2px;
    left: $left_shift_wide;
    margin: 0 30px;
    background-color: $background_color;
    top: 0;
    padding-top: 10px;

    @media (max-width: 850px) {
      left: $left_shift_slim;
    }
  }

  .chat-header {
    display: flex;
    align-items: center;
  }

  .contact-username {
    width: 100%;
    font-weight: bold;
    font-size: 18px;
  }

  .send-message-wrapper {
    position: fixed;
    right: 2px;
    left: $left_shift_wide;
    margin: 0 30px;
    bottom: 0;
    border-radius: 100px;
    background-color: $section_background_color;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 0 50px black;

    &-inner {
      display: flex;
    }

    /* textarea */
    #message {
      background-color: $section_background_color;
      border: 0;
      color: $font_color_bright;
      font-size: 15px;
      padding: 5px 0 5px 10px;
      margin: 15px;
      width: 100%;

      &:focus {
        transition: 0.2s;
        box-shadow: 0 0 20px #ffa825;
      }

      &::placeholder {
        color: $font_color_bright;
      }

      &::-webkit-scrollbar {
        width: 3px;
        background-color: $background_color;
      }

      &::-webkit-scrollbar-thumb {
        border-radius: 1px;
        background-color: $border_color;
      }

      &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgb(0 0 0 / 20%);
        border-radius: 1px;
        background-color: $background_color;
      }
    }

    .button-wrapper {
      display: flex;
      align-items: center;

      .button-send-msg {
        font-size: 22px;
        margin: 0;
        margin-right: 10px;
        font-weight: normal;

        .icon-send-msg {
          margin-bottom: -5px;
        }
      }
    }

    .message-validate-error {
      font-size: 13px;
      position: absolute;
      bottom: 55px;
    }

    @media (max-width: 850px) {
      left: $left_shift_slim;
    }
  }
}

.contacts-list {
  width: 350px;
  border-right: 1px solid $border_color;
  padding: 10px 15px 10px 10px;

  @media (max-width: 850px) {
    width: 300px;
  }

  @media (max-width: 730px) {
    width: 91%;
    border-right: 0;
  }

  .profile-link {
    text-align: right;
  }

  .search-form {
    text-align: center;
    margin: 40px 20px;
  }

  .contact-info {
    display: flex;
    padding: 8px 3px 8px 0;
    margin: -6px 0;

    &__active {
      background: rgb(101 72 35);
      background: linear-gradient(90deg, rgb(101 72 35 / 100%) 0%, rgb(0 212 255 / 0%) 85%);

      .contact-pointer {
        width: 4px;
        margin-right: 3px;
        height: 100%;
        background-color: $accent_color;
        margin-top: -7px;
        padding-bottom: 14px;
      }
    }
  }

  .contact-main-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 6px;
    width: 100%;

    .contact-username {
      margin-bottom: 6px;
      font-weight: bold;
    }

    .contact-message {
      font-size: 13px;
    }
  }

  .contact-extra-info {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .contact-message-date {
      font-size: 14px;
    }

    .contact-message-counter {
      color: $font_color_dark;
      background-color: $font_color_bright;
      border-radius: 100px;
      width: 20px;
      height: 20px;
    }
  }
}

.contact-avatar {
  display: flex;

  img {
    margin-right: 15px;
    width: 55px;
    height: 55px;
    border-radius: 100px;
  }
}

#search-contacts {
  height: 40px;
}

.messages {
  margin: 110px 0 80px;
  background-color: $background_color;

  &__empty {
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.correspondence-daily {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.correspondence-date {
  font-weight: bold;
  color: $font_color_soft;
  margin-bottom: 50px;
}

.msg {
  background-color: $section_background_color;
  padding: 25px;
  border-radius: 0 10px 10px;
  margin-bottom: 30px;
  max-width: 60%;

  &__incoming {
    align-self: start;
  }

  &__outgoing {
    align-self: end;
    border-radius: 10px 10px 0;
  }

  &__text {
    margin-bottom: 9px;
  }

  &__delivered,
  &__readed {
    font-size: 50px;
    line-height: 0;
    margin-left: -6px;

    &__active {
      color: #00aaf3;
    }
  }

  &__info {
    font-size: 13px;
    color: $font_color_soft;
    text-align: right;
    margin-bottom: -5px;
  }
}

.chat-image {
  width: 100%;
  margin: 10px 0 20px;
}
