---
screenTitle: Easy touch - список чатов
script: <script src="chats.ts" type="module"></script>
---

{{!< base}}

    <main>
      <div class="chat-side contacts-list">
        <p class="profile-link"><a href="./profile.hbs">Профиль ></a></p>
        <form class="search-form round-form-wrapper"></form>
        <div class="contacts"></div>
      </div>
      <div class="chat-side feed">
        <div class="feed-header-wrapper"></div>

        <div class="messages"></div>
        
        <form>
          <div class="write-message-wrapper">
            <textarea
              id="message"
              name="message"
              rows="1"
              placeholder="Напишите ваше сообщение здесь..."
            ></textarea>
            <div class="button-wrapper">
              <button type="submit" class="button-form button-form__full button-send-msg">
                <span class="icon-send-msg">↳</span>
              </button>
            </div>
          </div>
        </form>
      </div>
    </main>
