@import "../../../variables.css";

.chat-header {
  display: flex;
  align-items: center;

  &__username {
    width: 100%;
    font-weight: bold;
    font-size: 18px;
  }

  &__avatar {
    display: flex;

    img {
      margin-right: 15px;
      width: 55px;
      height: 55px;
      border-radius: 100px;
    }
  }

  &__wrapper {
    position: fixed;
    right: 2px;
    left: $left_shift_wide;
    margin: 0 30px;
    background-color: $background_color;
    top: 0;
    padding-top: 10px;

    @media (max-width: 850px) {
      left: $left_shift_slim;
    }
  }
}
