@import "../../variables.css";

.web-error {
  height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .err-paragraph {
    text-align: center;
  }

  .err-header {
    font-size: 50px;
    margin: 0;
  }

  .err-msg {
    font-size: 20px;
  }

  .err-link {
    margin: 70px auto;
    width: 200px;
    color: $font_color_bright;
  }
}
